@import '../../App/sass/export/var';

.navigation {
    left: -40rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background-image: 
    $navigation-bg-image-overlay-color,
    $navigation-bg-image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition-property: left;
    transition-duration: .4s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);
}

.navigation-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-align: center;
    color: $brand-color;
    text-shadow: $text-shadow;
    cursor: pointer;

    &:hover {
        color: $onHover-color;
    }
} 

.navigation-search {
    position: relative;
}

.navigation-search-input {
    width: 30rem;
    padding: 1rem;
    background-color:  rgba(0, 0, 0, 0.3);
    font-family: 'Josefin Sans', sans-serif;
    border: .1rem solid rgba(197, 139, 125, .4);
    border-radius: 2rem;
    font-size: 1.6rem;
    outline: none;
    box-shadow: $box-shadow;
    transition-property: background-color, color, border;
    transition-duration: .3s;

    &:focus {
        background-color:  rgba(0, 0, 0, 0.5);
        color: white;
        border: .08 solid $onHover-color;
    }

    &:focus ~ .navigation-search-btn {
        text-shadow: $text-shadow;
    }
}

.navigation-search-btn {
    border: none;
    color: $brand-color;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    font-size: 2rem;
    text-shadow: $text-shadow;
    cursor: pointer;
    outline: none;

    &:hover {
        color: $onHover-color;
    }
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navigation-item {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.navigation-link {
    text-decoration: none;
    color: $sidebar-bg-color;
    text-shadow: $text-shadow;
    transition-property: color;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(1, 0, 0, 1);


    &::before {
        content: "";
        width: 0rem;
        height: .1rem;
        background-color: $brand-color;
        position: absolute;
        top: .9rem;
        left: -4.5rem;
        transition-property: width;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }

    &::after {
        content: "";
        width: 0rem;
        height: .1rem;
        background-color: $brand-color;
        position: absolute;
        top: .9rem;
        right: -4.5rem;
        transition-property: width;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
    }

    &:hover {
        color: $onHover-color;
    }

    &:hover::before, &:hover::after {
        width: 3rem;
    }
}

.copyright {
    font-size: 1.4rem;
    color: $sub-color;
}