@import '../App/sass/export/var';

.navbar {
    .sidebar {
        width: 8rem;
        height: 100%;
        background-color: $sidebar-bg-color;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
}

.checkbox {
    display: none;
}

.checkbox:checked ~ .navigation {
    left: 8rem;
}

.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}

.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}

.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);
    width: 2.5rem;
}

.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
    height: 2.6rem;

    &:hover .line {
        width: 2.5rem;
        background-color: $brand-color;
        height: .4rem;
    }
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: $main-color;
    transition-property: background-color, width, height;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.line-1, .line-2 {
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
    transition-property: all;
    transition-duration: .3s;
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: $main-color;
}