.navbar {
    .sidebar {
        width: 8rem;
        height: 100%;
        background-color: #eee;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}


.menu-icon {
    margin-top: 3rem;
    cursor: pointer;
    height: 2.6rem;

    &:hover .line {
        width: 2.5rem;
        background-color: coral;
        height: .4rem;
    }
}

.line {
    height: .2rem;
    width: 2.5rem;
    background-color: #222;
    transition-property: background-color, width, height;
    transition-duration: .3s;
    transition-timing-function: ease-in;
}

.line-1, .line-2 {
    margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
}