@import './mixin';

$brand-color: orange;
$onHover-color: rgb(241, 178, 162);
$main-color: rgba(3, 104, 117, 0.9);
$sub-color: rgb(151, 235, 247);
$sidebar-bg-color: #eee;


$navigation-bg-image: url("../../../../assets/image/nav.png");
$navigation-bg-image-overlay-color: linear-gradient(to bottom, rgba(3, 104, 117, 0.9), rgba(3, 104, 117, 1));
$bg-image-overlay-color: linear-gradient(to bottom, rgba(3, 104, 117, 0.8), rgba(3, 104, 117, .9));

$text-shadow: .3rem .3rem .2rem rgba(67, 68, 73, 0.9);

$box-shadow: .2rem .2rem .2rem rgba(67, 68, 73, 0.9);
