@import '../../App/sass/export/var';

.social-icons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social-link {
    font-size: 2rem;
    color: $main-color;
    transition-property: color, font-size;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    display: block;
    height: .1rem;

    &:hover {
        color: $onHover-color;
        font-size: 2.5rem;
    }
}